<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyParking</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Mi primer Servlet</description>
    <display-name>holaMundo</display-name>
    <servlet-name>holaMundo</servlet-name>
    <servlet-class>es.unizar.si.g04.holaMundo.holaMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>holaMundo</servlet-name>
    <url-pattern>/holaMundo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prueba1</display-name>
    <servlet-name>prueba1</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.prueba1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prueba1</servlet-name>
    <url-pattern>/prueba1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CocheServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.CocheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CocheServlet</servlet-name>
    <url-pattern>/CocheServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservaPlazaServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.ReservaPlazaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaPlazaServlet</servlet-name>
    <url-pattern>/ReservaPlazaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCochesAparcar</display-name>
    <servlet-name>ListarCochesAparcar</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.ListarCochesAparcar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCochesAparcar</servlet-name>
    <url-pattern>/ListarCochesAparcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCochesReserva</display-name>
    <servlet-name>ListarCochesReserva</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.ListarCochesReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCochesReserva</servlet-name>
    <url-pattern>/ListarCochesReserva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AparcarServlet</display-name>
    <servlet-name>AparcarServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.AparcarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AparcarServlet</servlet-name>
    <url-pattern>/AparcarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DesaparcarServlet</display-name>
    <servlet-name>DesaparcarServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.DesaparcarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesaparcarServlet</servlet-name>
    <url-pattern>/DesaparcarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletAdmin</display-name>
    <servlet-name>LoginServletAdmin</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.LoginServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletAdmin</servlet-name>
    <url-pattern>/LoginServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OcupacionServlet</display-name>
    <servlet-name>OcupacionServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.OcupacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OcupacionServlet</servlet-name>
    <url-pattern>/OcupacionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OcupacionAdminServlet</display-name>
    <servlet-name>OcupacionAdminServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.OcupacionAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OcupacionAdminServlet</servlet-name>
    <url-pattern>/OcupacionAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GananciasAdminServlet</display-name>
    <servlet-name>GananciasAdminServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.GananciasAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GananciasAdminServlet</servlet-name>
    <url-pattern>/GananciasAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstadisticasTemporalesServlet</display-name>
    <servlet-name>EstadisticasTemporalesServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.EstadisticasTemporalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstadisticasTemporalesServlet</servlet-name>
    <url-pattern>/EstadisticasTemporalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoricoEstadisticasClienteServlet</display-name>
    <servlet-name>HistoricoEstadisticasClienteServlet</servlet-name>
    <servlet-class>es.unizar.si.g04.servlet.HistoricoEstadisticasClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoricoEstadisticasClienteServlet</servlet-name>
    <url-pattern>/HistoricoEstadisticasClienteServlet</url-pattern>
  </servlet-mapping>
</web-app>